<h1>Good morning!</h1>
<p>
  Here you have the Top 10 Days in which more invoices were created
  <% @top_invoices_created_dates.each do |invoice| %>
    <li><%= invoice[0] %>, <%= invoice[1] %></li>
  <% end %>
</p>
<p>Thanks and have a great day!</p>
